

body {
  margin: 0;
  font-family: "MS Sans Serif",Tahoma,Verdana,Segoe,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1
{
  font-weight: normal;
  margin: 0;

}
form
{
  padding: 20px;
}
