.reset-password-container {
    background-color: #008080;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .reset-password-title{
    margin-bottom:30px;
  }
  .reset-password-main {
    background-color: #c0c0c0;
    border: 5px solid #008080;
    border-radius: 10px;
    box-shadow: 5px 5px 0 #a0a0a0;
    padding: 50px;
    padding-left:100px;
    padding-right:100px;
    text-align: center;
  }

  .reset-password-link{
    font-size:small;
  }
  .reset-password-links{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .reset-password-link{
    font-size:small;
  }
  .reset-password-center{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:20px;
  }
  
  .reset-password-logo {
    margin-bottom: 20px;
    width: 200px;
  }
  
  .reset-password-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  
  .reset-password-fieldset {
    display:flex;
    margin-top:10px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  
  .reset-password-label {
    color: #000;
    font-size: 17px;
    margin-right: 20px;
    text-align: left;
    width: 60%;
    font-weight: bold;
  }
  
  .reset-password-input {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    color: #000;
    font-size: 17px;
    padding: 3px;
    width: 200px;
  }
  
  .reset-password-button, .reset-password-cancel-button {
    background-color: #008080;
    border: 1px solid #000;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 3px 5px;
    height:35px;
    transition: background-color 0.2s ease-in-out;
    width: 70px;
  }

  .reset-password-register-button {
    background-color: #008080;
    border: 1px solid #000;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height:35px;
    padding: 5px;
    width: 70px;
    font-family: Arial, sans-serif;
  }
  .error{
    margin:0;
    padding:0;
  }
  .reset-password-button:hover, .reset-password-cancel-button:hover {
    background-color: #006060;
  }

  .reset-password-register-button:hover {
    background-color: #006060;
  }


.reset-password-buttons{
    margin-top:20px;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}